@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
  }

  @keyframes bounce {
    10% {
      transform: scaleX(0.3);
    }

    30% {
      transform: scaleX(1);
    }

    60% {
      transform: scaleX(0.5);
    }

    80% {
      transform: scaleX(0.75);
    }

    100% {
      transform: scaleX(0.6);
    }
  }
}

@layer components {
  .container {
    max-width: 1280px;
    @apply w-full mx-auto pl-4 pr-4;
  }
}
